:root {
    --primary-color: #333;
    --background-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color) !important;
}

.todo-list {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 55rem;
    padding: 1rem;
}

header form {
    flex-direction: column;
}

header h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

header textarea {
    resize: none;
}

header .btn-form-actions {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.table {
    margin-top: 1rem;
    width: 100%;
}

.completed-header {
    width: 5%;
}

.title-header {
    width: 25%;
}

.actions-header {
    width: 25%;
    text-align: center;
}

.task-table tbody tr .description-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35vw;
    white-space: normal;
}

.task-table tbody tr td {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.task-table tbody tr .check-input-container {
    text-align: center;
}

.actions-cell {
    text-align: center;
}

.actions-cell button {
    margin: .5rem;
}

@media (max-width: 800px) {
    .todo-list {
        width: 90vw;
    }
}