.artist-cards-container {
    margin-top: 1.5rem;
    position: relative;
    z-index: 1;
}

.artist-header-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-header-cards {
    color: var(--white-color);
    padding-left: 3rem;
    font-size: large;
    width: 50%;
}

.toggle-button-artist-cards {
    margin-right: 2rem;
    background-color: var(--first-color-dark);
    color: var(--white-color);
    border: none;
    padding: .5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.toggle-button-artist-cards:hover {
    background-color: var(--first-color);
}

.cards-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: start;
    
}

.cards-container .card-container {
    width: 12rem;
    padding: 1rem;
    border-radius: .8rem;
    color: var(--white-color);
    font-size: small;
    line-height: 1.5rem;
    margin: 1rem;
    transition: all 0.5s ease;
    transform: translateY(0);
}

.cards-container .card-container:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--card-bg-color-hover)
        /* box-shadow: inset 0 0 1rem var(--shadow-color); */
}

.cards-container .card-container .artist-image-container img {
    margin-top: .5rem;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.play-button {
    position: absolute;
    bottom: 4.5rem;
    right: 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: .5rem;
    font-size: medium;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar el botón cuando se hace hover en la tarjeta */
.card-container:hover .play-button {
    opacity: 1;
    /* Mostrar botón */
}

@media (max-width: 970px) {
    .toggle-button-artist-cards {
        margin-right: 0rem;
    }
}

@media (max-width: 700px) {}

@media (max-width: 500px) {
    .artist-cards-container {
        margin-left: 1rem;
    }
    .artist-header-cards {
        padding-left: .5rem;
    }
}